Importing Iportant Library

In [18]:
import pandas as pd
import numpy as np
import streamlit as st
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [19]:
df=pd.read_csv(r"C:\Users\swapn\datasets\Social_Network_Ads.csv")

In [20]:
Data=df.copy()

In [21]:
Data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [22]:
Data['Purchased'].nunique()

2

Feature Scaling

In [23]:
scaler= MinMaxScaler()
scaled_values = scaler.fit_transform(df[['Age', 'EstimatedSalary','Purchased']])

In [24]:
scaled=pd.DataFrame(scaled_values)

In [25]:
scaled = scaled.rename(columns={0: "Age", 1:"EstimatedSalary", 2:"Purchased"})

In [26]:
scaled

          Age  EstimatedSalary  Purchased
0    0.023810         0.029630        0.0
1    0.404762         0.037037        0.0
2    0.190476         0.207407        0.0
3    0.214286         0.311111        0.0
4    0.023810         0.451852        0.0
..        ...              ...        ...
395  0.666667         0.192593        1.0
396  0.785714         0.059259        1.0
397  0.761905         0.037037        1.0
398  0.428571         0.133333        0.0
399  0.738095         0.155556        1.0

[400 rows x 3 columns]

In [32]:
X=Data[['Age','EstimatedSalary']]
y=Data['Purchased']

Train Test split

In [48]:
model=LogisticRegression()
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=30,random_state=40)
model.fit(X_train,y_train)
model.score(X_test,y_test)
value=[[60,40000]]
model.predict(value)

c:\Users\swapn\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [49]:
pickle.dump(model,open('model.pkl','wb'))

In [51]:
import seaborn as sns 
sns.barplot(x='Age',y='EstimatedSalary', data=Data)