Importing Important Library

In [ ]:
import pandas as pd
import numpy as np
import streamlit as st
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [19]:
df=pd.read_csv(r"C:\Users\swapn\datasets\Social_Network_Ads.csv")

In [20]:
Data=df.copy()

In [21]:
Data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [22]:
Data['Purchased'].nunique()

2

In [52]:
X=Data[['Age','EstimatedSalary']]
y=Data['Purchased']

Train Test split

In [56]:
model=LogisticRegression()
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=30,random_state=40)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8666666666666667

In [54]:
pickle.dump(model,open('model.pkl','wb'))

In [55]:
import seaborn as sns 
sns.barplot(x='Age',y='EstimatedSalary', data=Data)